{% extends 'base.html.twig' %}

{% block title %}Task form{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Task form</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        
        {% if task.id is not null %}
            {{ form_widget(form.isCompleted) }}
        {% endif %}
        {{ form_row(form._token) }}
        <br>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}